#pagina_inhoud_recepten {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    z-index: 1;
}

#boom_blok {
    float: right;
    width: 20%;
    margin-bottom: 5%;
    font-family: 'Dosis', sans-serif;
}

#boom {
    margin-bottom: 5%;
    background-color: #e8d1c2;
    padding: 10px;
}

#boom p {
    text-align: center;
    line-height: 30%;
}

#form_boom {
    background-color: #e8d1c2;
    padding: 10px;
}

#form_boom input {
    margin-top: 2.5%;
}

.button {
    cursor: pointer;
}

#tabs {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    width: 75%;
    color: black;
    float: left;
    margin-bottom: 5%;
    padding: 0;
}

#tabs-1, #tabs-2, #tabs-3, #tabs ul {
    background-color: #e8d1c2;
    border: 0;
    border-radius: 0;
    font-family: 'Dosis', sans-serif;
    color: black;
}

#tabs ul .tablink {
    border: 0;
    border-radius: 0;
    margin-top: 5px;
    margin-left: 5px;
}

#tabs ul li a {
    font-family: 'Concert One', cursive;
    color: black;
}

#tabs-1 p, #tabs-2 p, #tabs-3 p {
    margin: 10px;
}

.food_image {
    float: right;
    width: 40%;
    margin-top: 5%;
    margin-right: 5%;
    -webkit-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1281px) and (orientation: landscape) {

}

@media only screen and (min-device-width: 321px) and (max-device-width: 768px) and (orientation: portrait) {
    #tabs {
        width: 100%;
        float: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #boom_blok {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }

    .food_image {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        width: 25%;
        margin-right: 2%;
        margin-top: 10%;
    }
}