body {
	margin: 0;
	background-color: #E2C5B3;
	/*-webkit-text-size-adjust: 100%;*/
}
#menu {
	background-color: #AA3131;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	z-index: 2;
}
#menu ul {
	list-style: none;
	margin-top: 0;
}
.menu_item {
	float: left;
	display: block;
	text-align: center;
	margin-left: 2px;
	margin-right: 2px;
	width: 19%;
	font-size: 1.5em;
	color: white;
	font-family: 'Dosis', sans-serif;
	text-decoration: none;
	line-height: 50px;
	background-color: #AA3131;
	border-left: 3px solid #AA3131;
	border-right: 3px solid #AA3131;
}

.menu_item:hover {
	border-left: 3px solid white;
	border-right: 3px solid white;
	cursor: pointer;
}

.title {
	margin-top: 90px;
	font-family: 'Concert One', cursive;
	font-weight: bold;
	font-size: 42px;
	margin-bottom: 15px;
	position: relative;
    color: #1E0719;
    margin-left: 13.5%;
}

#home_link:hover {
	background-image: url("../images/header/home.jpg");
	background-size: cover;

}
#concerten_link:hover {
	background-image: url("../images/header/concert.jpg");
	background-size: cover;
}
#sport_link:hover {
	background-image: url("../images/header/sport.jpg");
	background-size: cover;
}
#recepten_link:hover {
	background-image: url("../images/header/recept.jpg");
	background-size: cover;
}
#contact_link:hover {
	background-image: url("../images/header/contact.jpg");
	background-size: cover;
}

#footer {
	background-color: #e2614a;
	width: 100%;
	height: 175px;
	clear: both;
	bottom: 0;
	z-index: 2;
}
#footer ul {
	list-style: none;
	margin-bottom: 0;
	float: left;
	width: 20%;
	padding: 0;
	margin-left: 2%;
}
#footer ul li {
	text-align: center;
	margin-right: 1px;
	width: 100%;
}
.footer_item a {
	font-size: 1em;
	color: white;
	font-family: 'Dosis', sans-serif;
	text-decoration: none;
	line-height: 35px;
}
.footer_item:hover {
	border-left: 1.5px solid white;
	border-right: 1.5px solid white;
	background-color: #BA60A6;
	cursor: pointer;
}
#footer p {
	float: right;
	color: white;
	margin-top: 135px;
	margin-right: 20px;
}

.image_menu {
	display: none;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation: landscape) {
	#footer ul {
		width: 25%;
	}
}

@media only screen and (min-device-width: 600px) and (max-device-width: 1280px) and (orientation: portrait) {
	#footer ul {
		width: 45%;
	}
	.menu_item {
		width: 17%;
	}
}

@media only screen and (min-device-width: 0px) and (max-device-width: 415px) and (orientation: portrait) {
	#footer ul {
		width: 100%;
		margin-left: 0;
	}
	#footer p {
		margin-top: 10px;
	}
	#footer {
		height: 200px;
	}
	#home_link:hover, #concerten_link:hover, #sport_link:hover, #recepten_link:hover, #contact_link:hover {
		background-image: none;
		background-color: #e8d1c2;
		border-left-width: 0px;
		border-right-width: 0px;
	}
	.menu_item {
		font-size: 0em;
		width: 17%;
		margin-left: 2%;
		line-height: 0px;
		color: transparent;
		border-left-width: 0px;
		border-right-width: 0px;
		align-content: center;
	}
	#menu ul {
		padding: 0;
	}
	#menu {
		height: 55px;
	}
	.image_menu {
		margin-left: auto;
		margin-right: auto;
		margin-top: 5px;
		margin-bottom: 5px;
		height: 45px;
		display: block;
		align-self: center;
	}
	#menu {
		position: absolute;
	}
}