body {
	margin: 0;
}
#muziekplaatje {
	width: 40%;
	height: 40%;
}

#pagina_inhoud_concerten {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    z-index: 1;
}

.band_image_small {
    width: 10%;
    height: auto;
    margin-right: 5%;
}

#concert_images_container {
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
    background-color: #D3D9E2;
    clear: both;
    font-size: 0;
}

table {
    margin-right: 5%;
}

th, td {
    padding : 10px;
    background-color: #e2cfd4;
}

#bereken_busreis {
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
    background-color: #e2cfd4;
    padding: 10px;
}

#bereken_busreis p {
    margin: 0;
}

#float_right {
    float: right;
}